body {
  margin: 0;
}

header {
  background-color: #3030c1;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

.wrapper {
  width: 82%;
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  padding-top: 60px;
}


.desc {
  max-height: 100%;
  background-color: #3030c1;
}

.desc__bg {
  background: 100% 29% / 48% url(img/main-img.png) no-repeat;
  padding-top: 80px;
  padding-bottom: 240px;
}

.desc__title {
  font: 800 45px/55px 'Gilroy', sans-serif;
  color: #fff;
  width: 38.438rem;
  padding-top: 13px;
  margin-bottom: 32px;
}

.title-span {
  padding-left: 4px;
  padding-right: 4px;
}

.desc__subtitle {
  font: 800 30px/37px 'Gilroy', sans-serif;
  color: #ffcc33;
  width: 355px;
  margin-bottom: 10px;
}

.desc__text {
  font: 300 20px/23px 'Gilroy', sans-serif;
  color: #fff;
  width: 465px;
  margin-bottom: 32px;
}

.section__button {
  font: 900 20px/24px 'Monserrat', sans-serif;
  color: #3030c1;
  padding: 16px 23px 15px 25px;
  background-color: #ffcc33;
  border: none;
}

.plans {
  text-align: center;
}

.plans__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
  padding-top: 55px;
  margin-bottom: 30px;
}

.plans__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 55px;
}

.plans__block {
  background-color: #fbfbfb;
  margin-right: 20px;
  width: 380px;
  padding-top: 50px;
  padding-bottom: 53px;
  box-shadow: #e0e0e0 0 5px 15px 10px;
}

.plans__block:last-child {
  margin-right: 0;
}

.plans__img {
  margin-bottom: 20px;
}

.plans__subtitle {
  font: 800 30px/37px 'Gilroy', sans-serif;
  color: #3030c1;
  margin-bottom: 12px;
}

.plans__block:first-child .plans__subtitle {
  margin: 0 auto 24px;
}

.plans__block:last-child .plans__subtitle {
  width: 255px;
  margin: 0 auto 24px;
}

.plans__desc {
  font: 800 20px/24.5px 'Gilroy', sans-serif;
  width: 250px;
  margin: 0 auto;
}

.section__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
  margin-bottom: 28px;
}

.plans__text {
  font: 300 30px/36px 'Gilroy', sans-serif;
  padding-left: 19px;
  margin-bottom: 54px;
}

.contact {
  background-color: #f0fbff;
  text-align: center;
  padding: 54px 0; 
}

.contact__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
  margin-bottom: 48px;
  padding-top: 17px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  font: 300 20px/23px 'Gilroy', sans-serif;
  width: 352px;
  height: 80px;
  border: none;
  padding-left: 28px;
  margin-bottom: 30px;
}

.form__input:last-child {
  margin-bottom: 72px;
}

.form__button {
  font: 900 20px/24px 'Monserrat', sans-serif;
  padding: 29px 110px 27px 110px;
  background-color: #ffcc33;
  border: none;
  margin-bottom: 19px;
}

.footer {
  background-color: #00008b;
  margin: 0 auto;
  padding: 46px 0;
}

.footer__text {
  font: 400 15px/18px 'Roboto', sans-serif;
  color: #fff;
  margin: 4px 0 7px 4px;
}

/* ----------------------------------Adaptation------------------------------ */

@media (max-width: 1230px) {
  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 99% 29% / 39% url(img/main-img.png) no-repeat;
  }
}

@media (max-width: 1150px) {
  .wrapper {
    width: 82%;
  }

  .desc__title {
    width: 28.438rem;
  }

  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 90% 40% / 39% url(img/main-img.png) no-repeat;
  }
}

@media (max-width: 1024px) {
  .plans__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plans__block {
    margin-bottom: 20px;
    margin-right: 0;
    padding-bottom: 40px;
  }
}

@media (max-width: 950px) {
  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 90% 40% / 45% url(img/main-img.png) no-repeat;
    padding-top: 50px;
  }

  .desc__title {
    font: 800 40px/45px 'Gilroy', sans-serif;
    width: 25rem;
  }

  .desc__subtitle {
    font: 800 30px/30px 'Gilroy', sans-serif;
  }

  .desc__text {
    width: 390px;
  }

  .plans__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plans__block {
    margin-bottom: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 890px) {
  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 91% 26% / 45% url(img/main-img.png) no-repeat;
    padding-top: 40px;
  }

  .desc__title {
    font: 800 35px/40px 'Gilroy', sans-serif;
    width: 21.875rem;
  }

  .desc__subtitle {
    font: 800 25px/25px 'Gilroy', sans-serif;
  }

  .desc__text {
    font: 300 16px/18px 'Gilroy', sans-serif;
    width: 350px;
    margin-bottom: 25px;
  }

  .section__button {
    font: 900 18px/18px 'Monserrat', sans-serif;
  }

  .plans__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plans__block{
    margin-bottom: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 50% 85% / 70% url(img/main-img.png) no-repeat;
    padding-bottom: 450px;
  }

  .desc__title {
    width: 31.25rem;
    margin-bottom: 0;
  }
  
  .desc__subtitle {
    width: 455px;
  }

  .desc__text {
    width: 410px;
  }

  .section__button {
    display: none;
  }

  .plans__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plans__block {
    margin-bottom: 20px;
    padding-top: 40px;
    width: 400px;
  }

  .plans__text {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    padding-bottom: 400px;
  }

  .desc__subtitle {
    margin-bottom: 15px;
  }
}

@media (max-width: 570px) {
  .logo__img {
    width: 93px;
    height: 24px;
  }

  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 50% 85% / 70% url(img/main-img.png) no-repeat;
    padding-bottom: 350px;
  }

  .desc__title {
    font: 800 35px/45px 'Gilroy', sans-serif;
    width: 21.875rem;
    margin-bottom: 30px;
    padding-top: 0;
  }

  .desc__subtitle {
    font: 800 29px/25px 'Gilroy', sans-serif;
    width: 350px;
  }

  .desc__text {
    font: 300 20px/18px 'Gilroy', sans-serif;
    width: 350px;
  }
}

@media (max-width: 464px) {
  .form__input {
    width: 335px;
    height: 75px;
  }

  .form__button {
    padding: 25px 100px;
  }

  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 450px) {
  .desc__title {
    font: 800 30px/30px 'Gilroy', sans-serif;
    margin-bottom: 15px;
  }

  .desc__subtitle {
    font: 800 20px/25px 'Gilroy', sans-serif;
  }

  .desc__text {
    font: 300 15px/17px 'Gilroy', sans-serif;
  }

  .desc__bg {
    padding-bottom: 250px;
  }

  .plans__title {
    font: 800 25px/31px 'Gilroy', sans-serif;
  }

  .plans__subtitle {
    font: 800 25px/25px 'Gilroy', sans-serif;
  }

  .plans__desc {
    font: 800 20px/24.5px 'Gilroy', sans-serif;
  }

  .plans__block {
    width: 350px;
  }

  .section__title{
    font: 800 30px/49px 'Gilroy', sans-serif;
  }

  .plans__text {
    font: 300 25px/31px 'Gilroy', sans-serif;
  }

  .contact__title {
    font: 800 30px/39px 'Gilroy', sans-serif;
  }
}

@media (max-width: 440px) {
  .form__input {
    font: 300 17px/23px 'Gilroy', sans-serif;
    width: 335px;
    height: 75px;
  }

  .form__button {
    padding: 25px 99px;
  }

  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 437px) {
  .form__input {
    width: 314px;
    height: 64px;
  }

  .form__button {
    padding: 20px 90px;
  }
}

@media (max-width: 415px) {
  .header {
    padding-top: 39px;
  }

  .logo__img {
    width: 93px;
    height: 24px;
  }

  .desc {
    background-color: #3030c1;
  }

  .desc__bg {
    background: 50% 80% / 70% url(img/main-img.png) no-repeat;
    padding-top: 1px;
    padding-bottom: 250px;
  }

  .desc__title {
    padding-top: 0;
  }

  .desc__subtitle {
    width: 235px;
    font: 800 20px/25px 'Gilroy', sans-serif;
  }

  .desc__text {
    width: 236px;
    font: 300 15px/17px 'Gilroy', sans-serif;
  }

  .form__input {
    width: 300px;
  }

  .form__button {
    padding: 20px 85px;
  }
}

@media (max-width: 403px) {
  .form__button {
    padding: 20px 80px;
  }
}

@media (max-width: 391px) {
  .form__button {
    padding: 20px 75px;
  }
}

@media (max-width: 385px) {
  .plans__block {
    width: 330px;
  }
}

@media (max-width: 379px) { 
  .contact__title {
    font: 800 25px/31px 'Gilroy', sans-serif;
    margin-bottom: 25px;
  }

  .form__input {
    font: 300 13px/12px 'Gilroy', sans-serif;
    width: 270px;
    height: 50px;
    margin-bottom: 9px;
  }

  .form__input:last-child {
    margin-bottom: 25px;
  }

  .form__button {
    font: 900 15px/12px 'Monserrat', sans-serif;
    padding: 17px 89px;
    margin-bottom: 0;
  }

  .footer {
    padding: 18px 0;
  }

  .footer__text {
    font: 400 10px/12px 'Roboto', sans-serif;
  }
}

@media (max-width: 364px) {
  .desc__title {
    font: 800 25px/31px 'Gilroy', sans-serif;
    width: 11.563rem;
  }

  .plans__block {
    width: 259px;
    margin-bottom: 20px;
    padding-top: 40px;
  }

  .plans__img {
    width: 85px;
    height: 85px;
  }

  .plans__subtitle {
    font: 800 20px/25px 'Gilroy', sans-serif;
    margin-bottom: 0;
  }

  .plans__block:first-child .plans__subtitle {
    margin-bottom: 14px;
  }

  .plans__block:last-child .plans__subtitle {
    margin-bottom: 15px;
    width: 162px;
  }

  .plans__desc {
    font: 800 10px/12px 'Gilroy', sans-serif;
    width: 116px;
    margin: 7px auto;
  }

  .plans__block:last-child .plans__desc {
    width: 125px;
  }

  .plans__text {
    font: 300 18px/21px 'Gilroy', sans-serif;
    width: 226px;
    min-height: 210px;
    margin: 0 auto;
    padding: 27px 0 54px 0;
  }

  .section__title {
    font: 800 25px/49px 'Gilroy', sans-serif;
  }

  .form__input {
    width: 230px;
  }

  .form__button {
    padding: 17px 70px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 39px;
  }

  .logo__img {
    width: 93px;
    height: 24px;
  }

  .section__button {
    display: none;
  }

  .desc {
    background-color: #3030c1;
    height: 527px;
  }

  .desc__bg {
    background: 61% 87% / 98% url(img/main-img.png) no-repeat;
    padding-top: 1px;
    padding-bottom: 275px;
  }

  .desc__title {
    width: 11.563rem;
    font: 800 25px/31px 'Gilroy', sans-serif;
    padding-top: 0;
    margin: 20px 0 25px 2px;
  }

  .title-span {
    padding-left: 2px;
    padding-right: 2px;
  }

  .desc__subtitle {
    width: 235px;
    font: 800 20px/25px 'Gilroy', sans-serif;
    margin: 0 0 0 1px;
  }

  .desc__text {
    width: 236px;
    font: 300 15px/17px 'Gilroy', sans-serif;
    margin: 1px 0 0 1px;
  }

  .plans__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }

  .plans__block {
    width: 259px;
    margin-bottom: 20px;
    padding-top: 40px;
  }

  .plans__img {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
  }

  .plans__block:first-child .plans__img {
    margin-bottom: 14px;
  }

  .plans__title {
    font: 800 20px/25px 'Gilroy', sans-serif;
  }

  .plans__subtitle {
    font: 800 20px/25px 'Gilroy', sans-serif;
    margin-bottom: 0;
  }

  .plans__block:first-child .plans__subtitle {
    margin-bottom: 14px;
  }

  .plans__block:last-child .plans__subtitle {
    margin-bottom: 15px;
    width: 162px;
  }

  .plans__desc {
    font: 800 10px/12px 'Gilroy', sans-serif;
    width: 116px;
    margin: 7px auto;
  }

  .plans__block:first-child .plans__desc {
    margin: 16px auto 0;
  }

  .plans__block:last-child .plans__desc {
    width: 125px;
  }

  .section__title {
    font: 800 20px/25px 'Gilroy', sans-serif;
  }

  .plans__text {
    font: 300 18px/21px 'Gilroy', sans-serif;
    width: 226px;
    min-height: 210px;
    margin: 0 auto;
    padding: 2px 0 54px 0;
  }

  .contact {
    padding: 44px 0;
  }

  .contact__title {
    font: 800 20px/25px 'Gilroy', sans-serif;
    margin-bottom: 25px;
    padding-top: 2px;
  } 

  .form__input {
    font: 300 10px/12px 'Gilroy', sans-serif;
    width: 230px;
    height: 45px;
    margin-bottom: 9px;
  }

  .form__input:last-child {
    margin-bottom: 25px;
  }

  .form__button {
    font: 900 10px/12px 'Monserrat', sans-serif;
    padding: 17px 89px;
    margin-bottom: 0;
  }

  .footer {
    padding: 18px 0;
  }

  .footer__text {
    font: 400 10px/12px 'Roboto', sans-serif;
  }
}
